@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../../assets/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('../../assets/fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('../../assets/fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro SemiBold';
  src: url('../../assets/fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
