body {
  .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: transparent;
  }

  .ui-dialog .ui-dialog-footer {
    padding: 10px;
  }

  .ui-inputtext {
    background-color: #e4e5e6;
    border-radius: 2px;
    color: #000;
    font-size: 18px;
    box-shadow: 0 1px 2px inset rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    width: 100%;
    min-height: 35px;
    font-size: 15px;
    font-family: $semiBoldFont;

    &::placeholder {
      text-align: center;
      color: #5a5a5a;
      font-family: $regularFont;
    }

    &:enabled:focus:not(.ui-state-error),
    &:enabled:hover:not(.ui-state-error) {
      border-color: transparent;
    }
  }

  .ui-button {
    background: none;
    font-family: $semiBoldFont;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s ease-in-out;

    &:enabled {
      &:hover,
      &:focus,
      &:active,
      &:visited {
        opacity: 0.85;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &.ui-button-text-icon-right .ui-button-text {
      padding: 0.7em 2em 0.429em 1em;
    }

    &.ui-button-text-only .ui-button-text {
      padding: 0.7em 1em;
    }
  }

  .ui-table .ui-sortable-column.ui-state-highlight {
    color: #fff;
    background-color: $sideBarBorderRightColor;
  }

  .ui-table .ui-table-thead > tr {
    border-bottom: 3px solid $sideBarBorderRightColor;
    > th {
      padding: 10px;
      border: none;
      color: #878787;
      font-size: 16px;
      font-family: $semiBoldFont;
      background: none;

      &:first-child {
        text-align: left;
        padding-left: 0;
      }
    }
  }

  .ui-table .ui-table-tbody > tr > td {
    background: none;
    border: none;
    text-transform: capitalize;
  }

  .ui-table .ui-table-tbody > tr {
    td {
      text-transform: capitalize;
      padding: 10px 0;
      text-align: center;
      font-size: 15px;
      vertical-align: middle;

      &:first-child {
        text-align: left;
      }

      a {
        color: #000000;
        font-family: $semiBoldFont;
        font-size: 15px;
      }
    }
  }

  .ui-table .ui-table-tbody > tr:nth-child(even) {
    background: none;
  }

  .ui-table p-sorticon {
    display: inline-block;
  }

  .ui-corner-top {
    border-radius: 0;
  }

  p-dropdown {
    width: 75%;
  }

  p-calendar {
    width: 75%;

    > span {
      width: 100%;

      input {
        width: 100% !important;
        border: none !important;
      }
    }
  }

  .ui-calendar {
    border-radius: 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid transparent;
    display: flex;
    justify-content: space-between;

    &.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
      background-color: #f7f7f7;
      border-radius: 0;
      color: #9f9f9f;
      height: 40px;
    }
  }

  .ui-dropdown {
    width: 100%;
    border-radius: 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid transparent;

    .ui-corner-all {
      border-radius: 0;
    }

    .ui-dropdown-item {
      height: 40px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      font-family: $regularFont;
      font-size: 15px;
    }

    .ui-dropdown-trigger {
      background: #f7f7f7;
    }
    &:enabled:hover:not(.ui-state-error),
    &:not(.ui-state-disabled).ui-state-focus {
      border-color: transparent;
    }

    &-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
      background-color: $primaryBackgroundColor;
    }

    label.ui-dropdown-label {
      margin-bottom: 0;
      background-color: #f7f7f7;
      height: 40px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      font-size: 15px;
      font-family: $semiBoldFont;
      color: #000000;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
  }

  .ui-fileupload {
    display: flex;
    flex-direction: column-reverse;

    p-progressbar {
      display: none;
    }

    &-row {
      display: block;
      text-align: center;
      > div {
        display: block;
        padding: 0;
        width: 100px;
        height: 100px;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }

    .ui-fileupload-files {
      display: block;
      margin-right: 35px;

      img {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .pi-times {
      display: none;
    }

    .ui-fileupload-buttonbar .ui-button {
      margin-right: 0;

      &:hover {
        background: none;
      }
    }

    .ui-fileupload-buttonbar {
      background: none;
      padding: 0;
      border: none;
    }

    .ui-fileupload-content {
      border: none;
      padding: 0; 
    }

    p-button .ui-button-text {
      font-size: 15px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      color: #737373;
      font-family: $regularFont;
      text-decoration: underline;
      cursor: pointer;
      display: block;
      margin: 10px 0;
      padding: 0 10px !important;

      &:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-choose {
      background: none;
      font-family: $semiBoldFont;
      font-size: 14px;
      border-radius: 4px;
      border: none;
      transition: all 0.2s ease-in-out;
      background: $primaryBackgroundColor;
      color: #ffffff;

      &:not(.ui-state-disabled):hover {
        background: $primaryBackgroundColor !important;
        border-color: transparent;
        opacity: 0.85;
      }

      &:enabled {
        &:hover,
        &:focus,
        &:active,
        &:visited {
          opacity: 0.85;
        }

        &:focus {
          box-shadow: none;
        }
      }

      &.ui-button-text-icon-right .ui-button-text {
        padding: 0.7em 2em 0.429em 1em;
      }

      &.ui-button-text-only .ui-button-text {
        padding: 0.7em 1em;
      }
    }
  }

  .ui-placeholder {
    color: #9f9f9f !important;
    font-size: 16px !important;
    font-family: $regularFont !important;
  }

  .ui-toast {
    &-message {
      padding: 10px 10px 0;
      box-shadow: none;
      border-radius: 4px;
    }

    .ui-toast-icon {
      display: none;
    }

    .ui-toast-message.ui-toast-message-error {
      background-color: rgba(255, 0, 0, 0.75);
      color: #ffffff;
    }

    .ui-toast-message.ui-toast-message-success {
      background-color: rgba(0, 206, 131, 0.9);
      color: #ffffff;
    }
    
    .ui-toast-message.ui-toast-message-error .ui-toast-close-icon,
    .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
      font-size: 20px;
      color: #fff;
      font-weight: normal;
    }

    .ui-toast-message-text-content {
      margin-left: 0;
    }

    &-detail,
    &-summary {
      font-family: $regularFont;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  .client-settings.ui-fileupload {
    flex-direction: row-reverse;

    .ui-fileupload-buttonbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
  }

  p-progressspinner {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4e5e6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
      stroke: #ffa700;
    }
    40% {
      stroke: #ffa700;
    }
    66% {
      stroke: #ffa700;
    }
    80%,
    90% {
      stroke: #ffa700;
    }
  }
}
