html,
body,
app-root {
  height: 100%;
}

canvas {
  height: auto !important;
  width: 100% !important;
}

.primary-link {
  color: #000000;
  font-size: 15px;
  font-family: $boldFont;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .85);
  }

  img {
    width: 15px;
    display: inline-block;
    margin: 0 10px;
  }
}

.secondary-link {
  @extend .primary-link;
  color: #737373;
  font-family: $regularFont;
  text-decoration: underline;
}

.orange-button {
  min-width: 100px;
  height: 35px;
  border-radius: 4px;
  color: #ffffff !important;
  background-color: $primaryBackgroundColor !important;
  text-transform: uppercase;
}

.grey-button {
  @extend .orange-button;
  background-color: #9f9f9f !important;
}

.black-button {
  @extend .orange-button;
  background-color: #000000 !important;
}

.rankify {
  &-header {
    height: 90px;
  }
}

.authentication-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    flex: 0 0 auto;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    line-height: 0;
  }

  form {
    padding: 25px 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    input {
      max-width: 400px;
    }
  }

  .authentication-form-controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;

    button {
      flex-grow: 1;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  a {
    font-size: 16px;
    text-decoration: underline;
    
    &:hover {
      color: #000000;
    }
  }
}

.rankify-logo {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 10px 0;

  label {
    padding-right: 10px;
    color: #5a5a5a;
    font-family: $regularFont;
    font-size: 16px;
    width: 25%;
  }

  input {
    margin-bottom: 0;
    background-color: #f7f7f7;
    height: 40px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 75%;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid transparent;
    padding-left: 15px;
  }

  textarea {
    @extend input;
    height: 100px;
    resize: none;

    &::placeholder {
      text-align: left;
      color: #9f9f9f;
      font-size: 16px;
      font-family: $regularFont;
    }
  }
}

.header-with-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  h2 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0;
  }

  button {
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.dashboard-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 30px;

  &:not(:last-child) {
    margin-right: 40px;
  }

  .card-title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .card-counter {
    font-size: 36px;
    display: flex;
    align-items: baseline;

    img {
      width: 25px;
      display: block;
      margin-right: 10px;
    }
  }

  .when-updated {
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.dashboard-details-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  > div {
    width: 100%;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .activities, .new-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .activity {
    display: flex;
    margin-bottom: 15px;
    width: 100%;

    &-list {
      width: 100%;
    }

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: block;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 15px;
      padding-left: 15px;
    }
  }
}

.empty-image {
  display: block;
  max-width: 100%;
}

app-campaigns app-datatable .not-data {
  display: none !important;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;

  .message {
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    font-family: $semiBoldFont;

    img {
      flex: 0 0 auto;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-right: 20px;
    }
    
    &-author {
      font-size: 20px;
      margin-right: 30px;
    }

    &-date {
      font-size: 18px;
      color: #ea9000;
    }

    &-text {
      font-size: 16px;
      margin-top: 20px;
      font-family: $regularFont;
    }
  }
}

.customers-content-wrapper {
  width: 100%;
  display: flex;
}

.form-wrapper {
  flex-grow: 1;
  max-width: 450px;
  margin: 0 auto;

  form {
    width: 100%;

    textarea {
      height: 150px;
    }
  }
}
.customer-details {
  max-width: 250px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

  .ui-fileupload {
    align-items: center;
  }

  .ui-fileupload-row > div {
    margin: auto;
  }

  .ui-fileupload .ui-fileupload-files {
    margin: 0;
  }

  &:nth-child(1) {
    display: block;
    margin-bottom: 25px;
  }

  > * {
    width: 60%;
  }

  img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
  }

  p-fileupload {
    width: 100%;
  }

  .customer-avatar {
    margin-bottom: 10px;
    display: block;
    width: 75%;

    img {
      width: 100%;
    }
  }

  button {
    margin-bottom: 10px;
  }

  .secondary-link {
    margin-bottom: 20px;
    width: auto;
  }

  p {
    margin-bottom: 15px;
    width: 100%;
  }
}
