@import '_reset';
@import '_fonts';

$regularFont: 'Myriad Pro Regular';
$lightFont: 'Myriad Pro Light';
$semiBoldFont: 'Myriad Pro SemiBold';
$boldFont: 'Myriad Pro Bold';

$backgroundColor: #e4e5e6;
$borderColor: #cdcdcd;
$primaryBackgroundColor: #ffb53d;
$primaryTextColor: #000000;

$buttonPrimaryColor: #f3ae3f;
$buttonSecondaryColor: #9d9d9d;

$successColor: #00ce83;
$dangerousColor: #ff0000;
$warningColor: #ff8601;

$greyColor: #454545;

//sideBar colors
$sideBarBackgroundColor: #ffffff;
$sideBarBorderRightColor: #f3ae3f;
$sibeBarTextNotActiveColor: #626262;
$sibeBarTextActiveColor: #000000;

@import '_prime-ng';
@import 'themes/_default.theme';
@import '_shared';

app-root {
  display: block;
}

app-content-layout {
  height: 100%;
  display: block;
}
