.content-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;  
  
  .global-search {
    display: flex;
    position: relative;
    min-width: 250px;

    input {
      padding-right: 30px;
      margin-bottom: 0;
      padding-left: 20px;
      height: 35px;

      &::placeholder {
        text-align: left;
      }
    }

    i {
      font-size: 24px;
      position: absolute;
      right: 15px;
      top: 50%;
      color: #878787;
      transform: translateY(-50%);
    }
  }
}
