<header class="content-header">
  <div class="global-search">
    <input 
      type="text" 
      pInputText 
      #searchInput
      placeholder="Fast search...." />
    
    <i class="pi pi-search"></i>
  </div>

  <a class="primary-link" (click)="logout()">
    <span>Hi, {{ user.first_name }}</span>
    <img src="assets/images/icons/logout.png" />
  </a>
</header>
