<div class="white-background">
  <div class="header-with-buttons">
    <h2>Customers list</h2>
    <button 
      pButton 
      class="orange-button" 
      icon="pi pi-plus-circle" 
      iconPos="right" 
      [routerLink]="['add']"
      label="Create"></button>
  </div>
  <app-datatable 
    [cols]="tableHeaders" 
    [data]="customersList" 
    [total]="total"
    [editable]="true" 
    [deletable]="true"
    (delete)="deleteCustomer($event)"></app-datatable>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
