<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Invoice 
    </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right" 
        [routerLink]="['/payments']"
        label="Cancel"></button>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right" 
        [disabled]="addEditPaymentForm.invalid"
        (click)="addEditPayment()"
        label="{{ paymentId ? 'Update' : 'Create' }}"></button>
    </div>
  </div>

  <form [formGroup]="addEditPaymentForm">
    <div class="form-control">
      <label>Amount($)</label>
      <input pInputText formControlName="amount" type="text" />
    </div>
    <div class="form-control">
      <label>Invoice status</label>
      <p-dropdown placeholder="Select invoice status" [options]="statusList" formControlName="invoice_status"></p-dropdown>
    </div>
    <div class="form-control">
      <label>Campaign</label>
      <p-dropdown placeholder="Select campaign" [options]="campaignsList" formControlName="campaign_id"></p-dropdown>
    </div>
  </form>
</div>