h2 {
  text-align: left;
}

textarea {
  width: 100%;
  height: 150px;
}

form {
  max-width: 45%;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  label {
    flex: 0 0 auto;
  }

  button {
    text-align: right;
    float: right;
  }
}

.message-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  textarea {
    width: 100%;
  }

  button {
    margin-top: 30px;
  }
}