<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Ticket 
      <span *ngIf="ticketId">{{ '#' + ticketId }}</span>
    </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right"
        [routerLink]="['../../support-tickets']"
        label="Back"></button>

      <button 
        pButton 
        class="orange-button" 
        iconPos="right"
        [disabled]="editTicketForm.invalid"
        (click)="createUpdateTicket()"
        label="{{ ticketId ? 'Update': 'Create' }}"></button>
    </div>
  </div>
  
  <form [formGroup]="editTicketForm">
    <div class="form-control">
      <label>Campaign</label>
      <p-dropdown formControlName="campaign_id" [options]="campaignsList"></p-dropdown>
    </div>
    <div class="form-control">
      <label>Subject</label>
      <input pInputText formControlName="subject" type="text" />
    </div>
    <div class="form-control">
      <label>Description</label>
      <input pInputText formControlName="description" />
    </div>
    <div class="form-control">
      <label>Status</label>
      <p-dropdown [options]="statusList" formControlName="ticket_status"></p-dropdown>
    </div>
  
    <div class="bordered-header"></div>

    <div class="form-control message-control" *ngIf="ticketId">
      <textarea pInputText placeholder="Enter a message" formControlName="message"></textarea>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right" 
        *ngIf="ticketId"
        (click)="sentMessage()"
        label="Send message"></button>
    </div>
  </form>

  <div class="bordered-header" *ngIf="ticketId"></div>
  <div class="messages" *ngIf="messagesList">
    <div class="message" *ngFor="let message of messagesList">
      <img [src]="message.user_photo_path ? message.user_photo_path : 'assets/images/icons/user-without-image.png'" />
      <div>
        <span class="message-author"> {{ message.user_name }} </span>
        <span class="message-date"> {{ message.created_at | date: 'dd/MM/yyyy hh:mm a' }} </span>
        <p class="message-text">{{ message.message }}</p>
      </div>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
