<div class="authentication-form-wrapper">
  <h2>
    User area
  </h2>

  <form (ngSubmit)="signUp()" class="authentication-form" [formGroup]="signUpForm">
    <input formControlName="first_name" type="text" pInputText placeholder="Fist name" />
    <input formControlName="last_name" type="text" pInputText placeholder="Last name" />
    <input formControlName="business_name" type="text" pInputText placeholder="Business name" />
    <input formControlName="username" type="text" pInputText placeholder="Username" />
    <input formControlName="password" type="password" pInputText placeholder="Password" />
    <input formControlName="email" type="email" pInputText placeholder="Email" />
    <input formControlName="phone" type="tel" pInputText placeholder="Phone" />

    <div class="authentication-form-controls">
      <button 
        class="grey-button" 
        pButton 
        type="submit" 
        [disabled]="signUpForm.invalid"
        label="Sign up" 
        routerLink="/sign-up"></button>
    </div>

    <span>
      Already have an account?
      <a class="secondary-link" routerLink="/sign-in">
        Sign in.
      </a>
    </span>
  </form>
</div>
