<aside class="sidebar">
  <img class="sidebar-logo" src="assets/images/logo.png" />

  <div class="user-info">
    <img [src]="user.photo_path" *ngIf="user && user.photo_path" />

    <p class="user-name">
      {{ user.firstName }} {{ user.lastName }}
    </p>

    <ng-container *ngIf="user.role === 'admin' || user.role === 'manager'">
      <p class="user-role">
        {{ user.role }}
      </p>
    </ng-container>

    <ng-container *ngIf="user.role === 'customer'">
      <p class="user-role">
        {{ user.role }}
      </p>
      
      <p class="user-role client-plan">
        {{ user.plan }} Plan

        <span *ngIf="user.plan === 'standard'">
          250$/month
        </span>
        <span *ngIf="user.plan === 'business'">
          500$/month
        </span>
        <span *ngIf="user.plan === 'comfort'">
          750$/month
        </span>
        <span *ngIf="user.plan === 'premium'">
          1000$/month
        </span>
      </p>

      <a class="primary-link" [routerLink]="['/stats']">
        Stats
      </a>
    </ng-container>

  </div>

  <nav>
    <a *ngFor="let item of menuItems" [routerLink]="item.routerLink" routerLinkActive="item-active">
      <img [src]="item.icon" />
      <span>{{ item.name }}</span>
    </a>
  </nav>
</aside>
