.sidebar {
  height: 100%;
  padding: 10px 0;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }

    .user-name {
      font-size: 14px;
      margin-top: 10px;
    }
    
    .user-role {
      margin: 5px 0;
      font-size: 14px;
    }

    .client-plan {
      margin-top: 20px;
      text-transform: uppercase;
      text-align: center;

      span {
        font-size: 13px;
        color: #000000;
      }
    }

    .primary-link {
      text-decoration: underline;
    }
  }

  &-logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      padding: 15px 0;

      span {
        font-size: 13px;
        text-transform: uppercase;
      }

      img {
        display: block;
        max-width: 35px;
        margin-bottom: 10px;
      }
    }
  }
}

.user-role {
  text-transform: capitalize;
}