<header class="rankify-header"></header>

<img class="rankify-logo" src="./assets/images/logo.png" />

<router-outlet></router-outlet>
<p-toast position="top-right"></p-toast>
<app-footer></app-footer>
