<div class="white-background">
  <div class="header-with-buttons">
    <h2>
      <span *ngIf="user.role === 'admin' || user.role === 'manager'">Invoices</span>
      <span *ngIf="user.role === 'customer'">Payments</span>
    </h2>
    <button 
      pButton 
      *ngIf="user.role === 'admin' || user.role === 'manager'"
      class="orange-button" 
      icon="pi pi-plus-circle" 
      iconPos="right" 
      [routerLink]="['create']"
      label="Create"></button>
  </div>
  <app-payments-admin *ngIf="user.role === 'admin' || user.role === 'manager'"></app-payments-admin>
  <app-payments-client *ngIf="user.role === 'customer'"></app-payments-client>
</div>
