.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
  }
}

.settings-plans {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 30px;
      }

      span {
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        width: 100%;
        display: inline-block;
        background-color: #f3ae3f;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 10px;
        color: #ffffff;
      }

      span.active {
        background-color: #ababab;
        color: #000000;
      }

      a {
        font-size: 14px;
        text-decoration: underline;
      }

      .when-selected {
        color: #b0b0b0;
        font-size: 14px;
        text-align: left;
        width: 100%;
        padding-left: 10px;
      }
    }
  }
}

.customers-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-wrapper {
  flex-grow: 1;
  max-width: 40%;

  form {
    width: 100%;

    textarea {
      height: 150px;
    }
  }
}

.customer-details {
  margin-right: 50px;
  padding: 20px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 20px;
  max-width: 350px;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      height: 120px;
      
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }

    img {
      width: 100px;
    }
  }

  p-fileupload {
    width: auto;
    margin-left: 20px;
    flex: 0 0 auto;
    max-height: 200px;
  }

  button {
    margin-bottom: 10px;
  }

  .secondary-link {
    margin-bottom: 20px;
    width: auto;
  }

  p {
    margin-bottom: 15px;
    width: 100%;
  }

  .update-credicard {
    background-color: #e4e4e4;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    button {
      margin-top: 10px;
    }

    img {
      height: auto;
      border-radius: 0;
    }
  }
}
