<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Settings
    </h2>

    <div>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right"
        [disabled]="settingsForm.invalid"
        (click)="updateUser()"
        label="Update"></button>
    </div>
  </div>

  <div class="content">
    <div class="customers-content-wrapper">
      <div class="customer-details">
        <div>
          <img src="assets/images/icons/user-without-image.png" *ngIf="!files && !user.photo_path" />
          <img [src]="user.photo_path" *ngIf="user.photo_path" />
          <p-fileUpload 
            name="files" 
            cancelLabel="Delete photo"
            [showUploadButton]="false"
            (onSelect)="selectAvatar($event.files)"
            accept="image/*"
            previewWidth="100"
            styleClass="client-settings"
            (onClear)="deletePhoto()"></p-fileUpload>
        </div>

        <div class="update-credicard">
          <img src="assets/images/icons/black-cards.png" />
          <button pButton class="grey-button" (click)="updateCreditCard()" label="Update credit card details"></button>
        </div>
      </div>

      <div class="form-wrapper">
         <form [formGroup]="settingsForm">
          <div class="form-control">
            <label>First Name</label>
            <input formControlName="first_name" type="text" pInputText />
          </div>
          <div class="form-control">
            <label>Last Name</label>
            <input formControlName="last_name" type="text" pInputText />
          </div>
          <div class="form-control">
            <label>Username</label>
            <input formControlName="username" type="text" pInputText />
          </div>
          <div class="form-control">
            <label>Password</label>
            <input formControlName="password" type="password" pInputText />
          </div>
          <div class="form-control">
            <label>E-mail</label>
            <input formControlName="email" type="email" pInputText />
          </div>
          <div class="form-control">
            <label>Phone</label>
            <input formControlName="phone" type="phone" pInputText />
          </div>
        </form>
      </div>
    </div>

    <div class="settings-plans" *ngIf="user.role === 'customer'">
      <h3>Change your Rankify plan</h3>

      <div class="card-wrapper">
        <div 
          class="card" 
          *ngFor="let plan of plansList"
          (click)="changePlan(plan.name)">

          <span [ngClass]="{ 'active': settingsForm.get('plan').value === plan.name }"> 
            {{ plan.title }} 
            <br/>
            ${{ plan.price }}/month
          </span>
          <!-- <p class="when-selected">
            {{ plan.whenSelected }}
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle"
  key="plan"
  acceptButtonStyleClass="orange-button"
  rejectButtonStyleClass="grey-button"></p-confirmDialog>