<div class="white-background">
  <div class="header-with-buttons">
    <h2>
      Support tickets
    </h2>

    <div>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right"
        [routerLink]="['create']"
        *ngIf="userService.user.role === 'customer'"
        label="Create"></button>
    </div>
  </div>

  <app-datatable [cols]="tableHeaders" [data]="supportTicketsList" [editable]="true"></app-datatable>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
