<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Settings: edit template
    </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right" 
        [routerLink]="['/settings']"
        label="Cancel"></button>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right" 
        [disabled]="editTemplateForm.invalid"
        (click)="updateTemplate()"
        label="Update"></button>
    </div>
  </div>

  <form [formGroup]="editTemplateForm">
    <div class="form-control">
      <label>Template title</label>
      <input pInputText formControlName="title" type="text" />
    </div>
    <div class="form-control">
      <label>E-mail subject</label>
      <input pInputText formControlName="subject" type="text" />
    </div>
    <p-editor [style]="{'height':'300px'}" formControlName="body"></p-editor>
  </form>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
