<div class="white-background" *ngIf="campaign">
  <div class="bordered-header header-with-buttons">
    <h2> Campaigns settings</h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right" 
        [routerLink]="['/dashboard']" 
        label="Cancel"></button>
        
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-plus-circle" 
        iconPos="right" 
        [disabled]="campaignForm.invalid"
        (click)="createUpdateCampaign()"
        label="Update"></button>
    </div>
  </div>

  <form [formGroup]="campaignForm">
    <div class="form-control start">
      <label>
        Created 
      </label>
      <span class="created">{{ campaign.created_at | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="form-control start">
      <label>
        Status 
      </label>
      <span 
        class="status" 
        [ngClass]="{
          'active': campaign.campaign_status === 'Active',
          'canceled': campaign.campaign_status === 'Cancelled',
          'suspended': campaign.campaign_status === 'Suspended'
        }">
        {{ campaign.campaign_status }}
      </span>
    </div>
    <div class="form-control start border-bottom">
      <label>
        Paid amount 
      </label>
      <span class="paid">
        $ {{ campaign.plan_amount }}
      </span>
    </div>
    <div class="form-control">
      <label>Campaign title</label>
      <input pInputText formControlName="campaign_title" type="text" />
    </div>
    <div class="form-control">
      <label>Payment method</label>
      <p-dropdown placeholder="Select payment method" [options]="paymentTypeList" formControlName="payment_type"></p-dropdown>
    </div>
    <div class="form-control border-bottom">
      <label>Service type</label> 
      <p-dropdown placeholder="Select service type" [options]="campaignTypeList" [disabled]="true" [options]="campaignTypeList" formControlName="campaign_type"></p-dropdown>
    </div>
    <div class="form-control">
      <label>Subscription $</label> 
      <p-dropdown [options]="subscriptionsList" [options]="subscriptionsList" [disabled]="true" placeholder="Select Subscription" formControlName="subscription_status"></p-dropdown>
    </div>
    <div class="form-control">
      <label>Manager</label> 
      <p-dropdown placeholder="Select manager" [disabled]="true" [options]="managersList" formControlName="manager_id"></p-dropdown>
    </div>
    <div class="form-control">
      <label>Comment</label> 
      <textarea 
        pInputText
        formControlName="admin_comment"
        placeholder="Enter a hidden comment for this campaign. This comment is only visible to the administrator."></textarea>
    </div>
  </form>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>