h2 {
  text-align: left;
}

form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.start {
  justify-content: flex-start;

  .created {
    font-family: 'Myriad Pro SemiBold';
  }

  .status {
    &.active {
      color: #00ce83;
    }

    &.canceled {
      color: #ff0000;
    }

    .suspended {
      color: #9d9d9d;
    }
  }

  .paid {
    color: #ff8601;
  }
}

.border-bottom {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b0b0b0;
}