<div class="white-background">
  <div class="bordered-header header-with-buttons">
    <h2> Campaigns settings </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right" 
        [routerLink]="['/campaigns']" 
        label="Cancel"></button>
        
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-plus-circle" 
        iconPos="right" 
        [disabled]="addEditCampaignForm.invalid"
        (click)="createUpdateCampaign()"
        label="{{ campaignId ? 'Update' : 'Create' }}"></button>
    </div>
  </div>

  <div class="customers-content-wrapper">
    <div class="customer-details" *ngIf="campaignId && campaign">
      <img [src]="campaign.photo_path ? campaign.photo_path : 'assets/images/download.png'" *ngIf="!files" />

      <p-fileUpload 
        name="files" 
        cancelLabel="Delete photo"
        [showUploadButton]="false"
        (onSelect)="selectAvatar($event.files)"
        accept="image/*"
        previewWidth="100"
        (onClear)="deletePhoto()"></p-fileUpload>
    </div>

    <div class="form-wrapper">
      <form [formGroup]="addEditCampaignForm">
        <div class="form-control">
          <label>Campaign title</label>
          <input pInputText formControlName="campaign_title" type="text" />
        </div>
        <div class="form-control">
          <label>Campaign type</label>
          <p-dropdown placeholder="Select campaign type" [options]="campaignsTypeList" formControlName="campaign_type"></p-dropdown>
    
        </div>
        <div class="form-control">
          <label>Customer</label>
          <p-dropdown placeholder="Select customer" [options]="customersList" formControlName="customer_id"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Payment method</label>
          <p-dropdown placeholder="Select payment method" [options]="paymentTypeList" formControlName="payment_type"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Plan</label> 
          <p-dropdown placeholder="Select a plan" [options]="plansList" formControlName="plan"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Status</label> 
          <p-dropdown placeholder="Select status" [options]="statusList" formControlName="campaign_status"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Manager</label> 
          <p-dropdown placeholder="Select manager" [options]="managersList" formControlName="manager_id"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Comment</label> 
          <textarea 
            pInputText
            formControlName="admin_comment"
            placeholder="Enter a hidden comment for this campaign. This comment is only visible to the administrator."></textarea>
        </div>
      </form>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>