<div class="authentication-form-wrapper">
  <h2>
    User area
  </h2>

  <form (ngSubmit)="signIn()" class="authentication-form" [formGroup]="signInForm">
    <input formControlName="email" type="text" pInputText placeholder="Input email" />
    <input formControlName="password" type="password" pInputText placeholder="Your Password" />

    <div class="authentication-form-controls">
      <button class="grey-button" pButton type="button" label="Sign up" routerLink="/sign-up"></button>
      <button class="orange-button" pButton type="submit" label="Sign  in" [disabled]="signInForm.invalid || disable"></button>
    </div>

    <a class="secondary-link" routerLink="/forgot-password">
      Forgot password?
    </a>
  </form>
</div>