<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Customer 
      <span *ngIf="customerId">
        : {{ customer.first_name }} {{ customer.last_name }}
      </span>
    </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        icon="pi pi-times" 
        iconPos="right" 
        [routerLink]="['/customers']"
        label="Cancel"></button>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-check" 
        iconPos="right" 
        [disabled]="addEditCustomerForm.invalid"
        (click)="addEditCustomer()"
        label="{{ customerId ? 'Update' : 'Create' }}"></button>
    </div>
  </div>

  <div class="customers-content-wrapper">
    <div class="customer-details" *ngIf="customerId">
      <img [src]="customer.photo_path ? customer.photo_path : 'assets/images/download.png'" *ngIf="!files" />
      
      <p-fileUpload 
        name="files" 
        cancelLabel="Delete photo"
        [showUploadButton]="false"
        (onSelect)="selectAvatar($event.files)"
        accept="image/*"
        previewWidth="100"
        (onClear)="deletePhoto()"></p-fileUpload>

      <p *ngIf="customer.tickets">
        Support tickets: 
        <span> {{ customer.tickets.closed_tickets }} / {{ customer.tickets.open_tickets }} </span>
      </p>
      <p>
        Campaigns: 
        <span> {{ customer.campaigns_total }} </span>
      </p>

      <button 
        pButton 
        class="black-button" 
        label="Suspend" 
        (click)="suspendCustomer()"></button>
      <button 
        pButton 
        class="grey-button" 
        (click)="pauseClient()"
        label="Pause"></button>
    </div>

    <div class="form-wrapper">
      <form [formGroup]="addEditCustomerForm">
        <div class="form-control">
          <label>First Name</label>
          <input formControlName="first_name" type="text" pInputText />
        </div>
        <div class="form-control">
          <label>Last Name</label>
          <input formControlName="last_name" type="text" pInputText />
        </div>
        <div class="form-control">
          <label>Username</label>
          <input formControlName="username" type="text" pInputText />
        </div>
        <div class="form-control">
          <label>Bussines name</label>
          <input formControlName="business_name" type="text" pInputText />
        </div>
        <div class="form-control">
          <label>Password</label>
          <input formControlName="password" type="password" pInputText />
        </div>
        <div class="form-control">
          <label>Level</label>
          <p-dropdown placeholder="Select level" formControlName="level" [options]="levelsList"></p-dropdown>
        </div>
        <div class="form-control">
          <label>E-mail</label>
          <input formControlName="email" type="email" pInputText />
        </div>
        <div class="form-control">
          <label>Phone</label>
          <input formControlName="phone" type="phone" pInputText />
        </div>
        <div class="form-control" *ngIf="addEditCustomerForm.value.level === 'customer'">
          <label>Plan</label>
          <p-dropdown placeholder="Select plan" [options]="plansList" formControlName="plan"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Status</label>
          <p-dropdown placeholder="Select status" [options]="statusList" formControlName="status"></p-dropdown>
        </div>
        <div class="form-control">
          <label>Comment</label> 
          <textarea 
            pInputText
            formControlName="comment"
            placeholder="Please input admin comment"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
