<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Change {{ plan }} plan
    </h2>

    <button 
      pButton 
      class="orange-button" 
      icon="pi pi-check" 
      iconPos="right" 
      [disabled]="editPlanForm.invalid"
      (click)="editPlan()"
      label="Change plan"></button>
  </div>

  <div class="content">
    <form [formGroup]="editPlanForm">
      <div class="form-control">
        <label>Name</label>
        <input pInputText formControlName="title" type="text" />
      </div>
      <div class="form-control">
        <label>Price/month($)</label>
        <input pInputText formControlName="price" type="text" />
      </div>
    </form>
  </div>
</div>