<div class="white-background">
  <div class="header-with-buttons bordered-header">
    <h2>
      Settings
    </h2>
  </div>

  <div class="content">
    <div class="header-with-buttons">
      <h3>
        Profile settings
      </h3>

      <div>
        <button 
          pButton 
          class="orange-button" 
          icon="pi pi-pencil" 
          iconPos="right"
          [routerLink]="['edit-profile']"
          label="Update profile"></button>
      </div>
    </div>

    <div class="settings-templates">
      <div class="header-with-buttons">
        <h3>E-mail templates</h3>
        <div>
          <button 
            pButton 
            class="orange-button" 
            icon="pi pi-plus-circle" 
            iconPos="right"
            [routerLink]="['create']"
            label="Add template"></button>
        </div>
      </div>
  
      <ul>
        <li *ngFor="let template of templateList">
          <span> {{ template.title }} </span>
          <span class="options">
            <a [routerLink]="['edit-template', template.id]"> 
              <img src="assets/images/icons/writing.png" />
              Edit template 
            </a>
  
            <button class="delete" (click)="removeTemplate(template.id)">
              <i class="pi pi-trash"></i>
            </button>
          </span>
        </li>
      </ul>
    </div>

    <div class="settings-plans">
      <h3>Plans for Rankify service</h3>

      <div class="card-wrapper">
        <div class="card" *ngFor="let plan of plansList">
          <span> 
            {{ plan.title }} 
            <br/>
            ${{ plan.price }}/month
          </span>
          <a [routerLink]="['edit-plan', plan.name]" class="primary-link">
            Edit plan 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle"
  key="template"
  acceptButtonStyleClass="orange-button"
  rejectButtonStyleClass="grey-button"></p-confirmDialog>