.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
  }

  ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #dbdbdb;

    span {
      font-size: 16px;
      padding-left: 10px;
    }

    a {
      padding: 10px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      border-radius: 4px;
      font-size: 14px;
      
      img {
        display: block;
        margin-right: 10px;
        width: 20px;
      }
    }

    .options {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .delete {
      font-size: 20px;
      border: none;
      background: none;
      color: #ff0000;
    }
  }
}

.settings-plans {

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        margin-right: 30px;
      }

      span {
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        width: 100%;
        display: inline-block;
        background-color: #ababab;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 10px;
      }

      a {
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
}