<div class="dashboard-cards-wrapper">
  <div 
    class="dashboard-card" 
    *ngFor="let card of cardList"
    [routerLink]="['/campaigns', {type: card.campaignType}]">

    <h2 class="card-title">
      {{ card.title }}
    </h2>
    <p class="card-counter">
      <img [src]="card.icon" />
      {{ card.counter }}
    </p>
    <p class="when-updated"></p>
  </div>
</div>

<div class="dashboard-details-wrapper">
  <div class="white-background new-customers">
    <h2>New customers</h2>
    <div class="chart-wrapper" *ngIf="chart">
      <p-chart type="bar" [options]="chart.options" [data]="chart.data"></p-chart>
    </div>
    <p class="last-updated">
      Total
    </p>
  </div>
  <div class="white-background activities">
    <h2>Last activities</h2>
    <div class="activity-list">
      <div class="activity" *ngFor="let activity of activityList">
        <div>
          <p class="role">
            {{ activity.customer_level  }}: {{ activity.customer_name }}
          </p>
          <p class="date">
            {{ activity.activity_date | date: 'medium' }}
          </p>
          <p class="description">
            {{ activity.activity_description }}
          </p>
        </div>
      </div>
    </div>

    <p class="last-updated">
      Total
    </p>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>