app-footer, app-header {
  display: block;
  flex: 0 0 auto;
}

.page-wrapper {
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.content-layout {
  height: 100%;
  display: flex;

  app-side-bar {
    flex: 0 0 auto;
    max-width: 140px;
    width: 100%;
    overflow: hidden;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  background-color: #e4e5e6;
}
