<div class="content-layout">
  <app-side-bar></app-side-bar>
  <div class="content">
    <app-header></app-header>
    <div class="page-wrapper">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
      <p-toast position="top-right"></p-toast>
    </div>
  </div>
</div>
