body {
  margin: 0;
  font-family: $regularFont;
}

.content-header {
  border-bottom: 3px solid $borderColor;
  background-color: $sideBarBackgroundColor;
}

.sidebar {
  background-color: $sideBarBackgroundColor;
  border-right: 3px solid $sideBarBorderRightColor;

  .user-name {
    font-family: $semiBoldFont;
    color: $primaryTextColor;
  }

  .user-role {
    font-family: $semiBoldFont;
    color: #ff8601;
  }

  nav {
    a span {
      color: $sibeBarTextNotActiveColor;
      font-family: $semiBoldFont;
    }

    .item-active {
      background-color: $primaryBackgroundColor;

      span {
        color: $sibeBarTextActiveColor;
      }
    }
  }
}

.dashboard-card {
  background-color: $primaryBackgroundColor;
  font-family: $semiBoldFont;

  .card-title {
    margin-bottom: 10px;
  }

  .card-counter {
    color: #ffffff;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
  }

  .when-updated {
    color: #fff343;
  }
}

.new-customers,
.activities {
  font-family: $boldFont;

  .role {
    color: #959595;
    margin-bottom: 5px;
  }

  .date {
    color: #000000;
    margin-bottom: 5px;
  }
  
  .description {
    color: #939393;
    font-size: 14px; 
    font-style: italic;
    font-weight: normal;
    font-family: sans-serif, Arial;
  }

  .last-updated {
    color: #959595;
    text-transform: uppercase;
    padding-top: 20px;
    border-top: 4px solid #f3ae3f;
  }
}

.authentication-form-wrapper {
  background-color: #fff;
  border: 2px solid #d1d4d7;

  h2 {
    font-family: $boldFont;
    color: #5a5a5a;
    background-color: #f8f9fa;
    border-bottom: 2px solid #d1d4d7;
  }

  form {
    button {
      &:first-child {
        background-color: #666666;
      }

      &:last-child {
        background-color: #f3ae3f;
      }
    }
  }

  a {
    color: #5a5a5a;
  }
}

.white-background {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;

  h2 {
    font-family: $boldFont;
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
  }
}

.reports-header h3 {
  color: #a0a0a0;
  font-family: $boldFont;
  text-transform: uppercase;
}

.reports-colored-card {
  background-color: #d0d0d0;

  h4 {
    font-family: $boldFont;
    color: #000000;
  }

  .orange-card {
    background-color: #ffb53d;
    border-radius: 5px;
  }

  .card-details {
    span {
      font-family: $boldFont;
      color: #ffffff;
    }

    &::after {
      background-color: #ffffff;
    }
  }
}

.reports-outline-card {
  background: none;
  border: 3px solid #7d7d7d;

  &.new {
    h4 {
      color: #ff8601;
    }

    .card-details {
      &::after {
        background-color: #ff8601;
      }
    }
  }

  &.cancelled {
    h4 {
      color: #ff0000;
    }

    .card-details {
      &::after {
        background-color: #ff0000;
      }
    }
  }

  &.paused {
    h4 {
      color: #888888;
    }

    .card-details {
      &::after {
        background-color: #888888;
      }
    }
  }
}

.bordered-header {
  border-bottom: 3px solid $sideBarBorderRightColor;
}

.content {

  h3 {
    color: #f3ae3f;
    font-family: $boldFont;
  }

  ul > li {

    span {
      color: #878787;
      font-family: $semiBoldFont;
    }

    a {
      background-color: #f3ae3f;
      color: #000000;
      font-family: $boldFont
    }
  }
}

.settings-plans {

  span {
    color: #ffffff;
    font-family: $boldFont;
  }
  
  a {
    font-family: $semiBoldFont;
    color: #f3ae3f;
  }
}

.customer-details {
  p {
    font-size: 15px;
    font-family: $semiBoldFont;
    color: #959595;

    span {
      color: #000000; 
    }
  }
  
   
  
  
}