<div class="authentication-form-wrapper">
  <h2>
    User area
  </h2>

  <form (ngSubmit)="rememberPassword()" class="authentication-form" [formGroup]="rememberPasswordForm">
    <input formControlName="email" type="email" pInputText placeholder="Input email" />

    <div class="authentication-form-controls">
      <button 
        class="orange-button" 
        pButton 
        type="submit" 
        label="Remember password" 
        [disabled]="rememberPasswordForm.invalid || disable"></button>
    </div>
  </form>
</div>
