<div class="dashboard-cards-wrapper">
  <div class="dashboard-card" *ngFor="let card of cardList">
    <h2 class="card-title">
      {{ card.title }}
    </h2>
    <p class="card-counter">
      {{ card.counter }}
    </p>
    <p class="when-updated">
      Last week
    </p>
  </div>
</div>

<div class="white-background">
  <h2>Campaigns List</h2>
  <app-datatable [cols]="campaignsCols" [data]="campaignsList" [editable]="true"></app-datatable>
  
  <h2>Due Invoices</h2>
  <app-datatable [cols]="lastPaymentsCols" [data]="paymentsList"></app-datatable>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
