<div class="white-background">
  <div class="header-with-buttons">
    <h2> Campaigns </h2>

    <!-- <div>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-plus-circle" 
        iconPos="right" 
        [routerLink]="['add']"
        label="Create"></button>
    </div> -->
  </div>

  <app-datatable [total]="total" [cols]="campaignsCols"  [data]="campaignsList" [editable]="true"></app-datatable>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
