<div class="white-background">
  <div class="reports-header">
    <h2>Reports</h2>
    <h3>May 2019</h3>
  </div>
  <div class="reports-cards-wrapper">

    <div class="reports-colored-card" *ngFor="let plan of plansList">
      <div class="orange-card">
        <h4>
          {{ plan.title }}
        </h4>

        <p class="card-details">
          <img src="assets/images/icons/peoples.png" />
          <span>{{ plan.counter }}</span>
        </p>
      </div>
      <div>
        <h4>Monthly revenue</h4>
        <p class="card-details">
          <img src="assets/images/icons/cards.png" />
          <span>$ {{ plan.monthlyRevenue }}</span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="reports-cards-wrapper">
    <div 
      class="reports-colored-card reports-outline-card"
      *ngFor="let card of clientCardsList"
      [ngClass]="card.class">

      <div class="orange-card">
        <h4 class="card-title">{{ card.title }}</h4>
        <p class="card-details">
          <img [src]="card.icon" />
          <span>{{ card.counter }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
