.reports-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 18px;
  }
}

.reports-cards-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reports-colored-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  > div {
    width: 100%;
    text-align: center;
    padding: 20px 0;

    h4 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .card-details {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      max-width: 30%;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }

    img {
      width: 35px;
      display: block;
      margin-right: 10px;
    }
    
    span {
      font-size: 36px;
    }
  }

  .orange-card {
    span {
      font-size: 48px;
    }
  }
}

.reports-outline-card {
  background: none;
  border-radius: 5px;

  .orange-card {
    background: none;

    .card-details {

      img {
        width: 55px;
      }

      span {
        font-size: 36px;
        color: #a0a0a0;
      }
    }
  }
}
