<div class="white-background">
  <div class="header-with-buttons">
    <h2> Campaigns </h2>

    <div>
      <button 
        pButton 
        class="grey-button" 
        [icon]="viewIcon" 
        iconPos="right" 
        (click)="changeView()"
        label="Change view"></button>
      <button 
        pButton 
        class="orange-button" 
        icon="pi pi-plus-circle" 
        iconPos="right" 
        [routerLink]="['add']"
        label="Create"></button>
    </div>
  </div>

  <div class="campaigns-board" *ngIf="campaignsList && view === 'list'">
    <div 
      pDroppable="campaign" 
      *ngIf="!campaignType || campaignType === 'active'"
      (onDragEnter)="onDragEnter('active')" 
      (onDrop)="drop('active')" 
      [ngClass]="{ 'show-area-active': droppedArea === 'active' }"
      class="drop-column campaigns-col active-campaigns-col">

      <h3>Active campaigns</h3>

      <div class="campaign-wrapper">
        <div 
          class="campaign" 
          *ngFor="let activeCampaign of campaignsList.activeCampaigns" 
          pDraggable="campaign"
          (onDragStart)="onDragStart('active', activeCampaign)"
          (onDragEnd)="onDragEnd(activeCampaign)"
          [routerLink]="[activeCampaign.id]">
          
          <img [src]="activeCampaign.photo_path ? activeCampaign.photo_path : 'assets/images/download.png'" />
          <div>
            <p class="campaign-info">
              <span>{{ activeCampaign.customer_name }}</span>
              <span>{{ activeCampaign.manager_name }}</span>
            </p>
            <p>
              <span class="router-link-wrapper">
                <a>
                  <img src="assets/images/icons/writing.png" draggable="false" />
                </a>
                <span>
                  "{{ activeCampaign.plan }} Plan"
                </span>
              </span>
              <span class="active">
                Active
              </span>
            </p>
            <p>
              <span *ngIf="activeCampaign.plan === 'standard'">
                250$/month
              </span>
              <span *ngIf="activeCampaign.plan === 'business'">
                500$/month
              </span>
              <span *ngIf="activeCampaign.plan === 'comfort'">
                750$/month
              </span>
              <span *ngIf="activeCampaign.plan === 'premium'">
                1000$/month
              </span>
            </p>
            <p>
              <span>Paid: <b>{{ activeCampaign.plan_amount }}</b></span>
              <span class="created">Created: {{ activeCampaign.created_at | date: 'dd/MM/yyyy' }} </span>
            </p>
          </div>
        </div>
        <div *ngIf="!campaignsList.activeCampaigns" class="empty-column">
          There are not yet active campaigns
        </div>
      </div>
    </div>
    
          
    <div 
      pDroppable="campaign" 
      *ngIf="!campaignType || campaignType === 'suspended'"
      (onDragEnter)="onDragEnter('suspended')" 
      (onDrop)="drop('suspended')" 
      [ngClass]="{'show-area-suspended': droppedArea === 'suspended'}"
      class="drop-column campaigns-col suspended-campaigns-col">

      <h3>Suspended</h3>

      <div class="campaign-wrapper">
        <div 
          class="campaign" 
          *ngFor="let suspendedCampaign of campaignsList.suspendedCampaigns"
          pDraggable="campaign"
          (onDragStart)="onDragStart('suspended', suspendedCampaign)"
          (onDragEnd)="onDragEnd(suspendedCampaign)"
          [routerLink]="[suspendedCampaign.id]">

          <img [src]="suspendedCampaign.photo_path ? suspendedCampaign.photo_path : 'assets/images/download.png'" />

          <div>
            <p class="campaign-info">
              <span>{{ suspendedCampaign.customer_name }}</span>
              <span>{{ suspendedCampaign.manager_name }}</span>
            </p>
            <p>
              <span class="router-link-wrapper">
                <a>
                  <img src="assets/images/icons/writing.png" draggable="false" />
                </a>
                <span>
                  "{{ suspendedCampaign.plan }} Plan"
                </span>
              </span>
              <span class="suspended">
                Paused
              </span>
            </p>
            <p>
              <span *ngIf="suspendedCampaign.plan === 'standard'">
                250$/month
              </span>
              <span *ngIf="suspendedCampaign.plan === 'business'">
                500$/month
              </span>
              <span *ngIf="suspendedCampaign.plan === 'comfort'">
                750$/month
              </span>
              <span *ngIf="suspendedCampaign.plan === 'premium'">
                1000$/month
              </span>
            </p>
            <p>
              <span>Paid: <b>{{ suspendedCampaign.plan_amount }}</b></span>
              <span class="created">Created: {{ suspendedCampaign.created_at | date: 'dd/MM/yyyy' }} </span>
            </p>
          </div>
        </div>
        <div *ngIf="!campaignsList.suspendedCampaigns" class="empty-column">
          There are not yet suspended campaigns
        </div>
      </div>
    </div>
          
    <div 
      pDroppable="campaign" 
      (onDragEnter)="onDragEnter('cancelled')" 
      *ngIf="!campaignType || campaignType === 'cancelled'"
      (onDrop)="drop('cancelled')" 
      [ngClass]="{'show-area-cancelled': droppedArea === 'cancelled'}"
      class="drop-column campaigns-col cancelled-campaigns-col">
      
      <h3>Cancelled</h3>

      <div class="campaign-wrapper">
        <div 
          class="campaign" 
          *ngFor="let cancelledCampaign of campaignsList.cancelledCampaigns"
          pDraggable="campaign"
          (onDragStart)="onDragStart('cancelled', cancelledCampaign)"
          (onDragEnd)="onDragEnd(cancelledCampaign)"
          [routerLink]="[cancelledCampaign.id]">

          <img [src]="cancelledCampaign.photo_path ? cancelledCampaign.photo_path : 'assets/images/download.png'" />

          <div>
            <p class="campaign-info">
              <span>{{ cancelledCampaign.customer_name }}</span>
              <span>{{ cancelledCampaign.manager_name }}</span>
            </p>
            <p>
              <span class="router-link-wrapper">
                <a>
                  <img src="assets/images/icons/writing.png" draggable="false" />
                </a>
                <span>
                  "{{ cancelledCampaign.plan }} Plan"
                </span>
              </span>
              <span class="cancelled">
                Cancelled
              </span>
            </p>
            <p>
              <span *ngIf="cancelledCampaign.plan === 'standard'">
                250$/month
              </span>
              <span *ngIf="cancelledCampaign.plan === 'business'">
                500$/month
              </span>
              <span *ngIf="cancelledCampaign.plan === 'comfort'">
                750$/month
              </span>
              <span *ngIf="cancelledCampaign.plan === 'premium'">
                1000$/month
              </span>
            </p>
            <p>
              <span>Paid: <b>{{ cancelledCampaign.plan_amount }}</b></span>
              <span class="created">Created: {{ cancelledCampaign.created_at | date: 'dd/MM/yyyy' }} </span>
            </p>
          </div>
        </div>
        <div *ngIf="!campaignsList.cancelledCampaigns" class="empty-column">
          There are not yet cancelled campaigns
        </div>
      </div>
    </div>
  </div>

  <app-datatable 
    *ngIf="view === 'table'"
    [cols]="campaignsCols" 
    [data]="campaignsTable" 
    [total]="total"
    [editable]="true"></app-datatable>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="orange-button"
  rejectButtonStyleClass="grey-button"></p-confirmDialog>