.active {
  background-color: #00ce83;
  color: #ffffff;
  font-family: 'Myriad Pro Bold';
  display: block;
  min-width: 100px;
  line-height: 30px;
  text-align: center;
}

.suspended {
  @extend .active;
  background-color: #c4c4c4;
}

.cancelled {
  @extend .active;
  background-color: #ff0000;
}

.campaigns-board {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 3px solid transparent;
  }
}

.campaigns-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 10px;
  transition: all 0.35s ease-in-out;
  border-radius: 5px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  .campaign {
    margin-bottom: 15px;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

    > img {
      width: 60px;
      height: 60px;
      display: block;
      flex: 0 0 auto;
      border-radius: 50%;
      margin-right: 5px;
    }

    &-wrapper {
      width: 100%;
      padding: 0 20px;
    }

    p {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin: 5px 0;
      padding-right: 5px;
      text-align: center;

      img {
        width: 20px;
        height: auto;
        border-radius: 0;
        display: inline-block;
        margin: auto;
      }
    }

    .campaign-info {
      font-family: 'Myriad Pro Bold';
    }
  }
}

.active-campaigns-col {
  h3 {
    color: #ff8601;
    border-color: #ff8601;
  }

  .campaign {
    border: 1px solid #ff8601;
  }
}

.suspended-campaigns-col {
  h3 {
    color: #a0a0a0;
    border-color: #a0a0a0;
  }

  .campaign {
    border: 1px solid #a0a0a0;
  }
}

.cancelled-campaigns-col {
  h3 {
    color: #ff0000;
    border-color: #ff0000;
  }

  .campaign {
    border: 1px solid #ff0000;
  }
}

.router-link-wrapper {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
    text-transform: capitalize;
  }
}

.created {
  color: #888888;
}

b {
  color: #000000;
  font-family: 'Myriad Pro Bold';
}

.empty-column {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Myriad Pro SemiBold';
}

.show-area-active {
  box-shadow: 0 0 7px 0 #ff8601;
}

.show-area-suspended {
  box-shadow: 0 0 7px 0 #c4c4c4;
}

.show-area-cancelled {
  box-shadow: 0 0 7px 0 #ff0000;
}
