<ng-container *ngIf="data && data.length; else notData">
  <p-table [columns]="cols" [value]="data">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"></p-sortIcon>
        </th>
        <th *ngIf="editable || deletable">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span [ngClass]="setClasses(item, item[col.field])">
            <span *ngIf="col.field !== 'created_at' && col.field !== 'tickets' && item[col.field] !== 'Overdue' && item[col.field] !== 'Unpaid'">{{ item[col.field] }}</span>
            <span *ngIf="col.field === 'created_at'">{{ item[col.field] | date: 'dd/MM/yyyy' }}</span>
            <span 
              *ngIf="item[col.field] === 'Overdue' || item[col.field] === 'Unpaid'"
              class="pay-now"
              [routerLink]="[item.id]">
              {{ item[col.field] }}
            </span>
            <span 
              class="open-tickets" 
              *ngIf="col.field === 'tickets'" 
              [routerLink]="[item.id, 'support-tickets']">
              <span class="closed-ticket">{{ item[col.field].closed_tickets }} </span> /
              <span class="active-ticket">{{ item[col.field].open_tickets }} </span>
            </span>
          </span>
        </td>
        <td class="table-options" *ngIf="editable || deletable">
          <button class="edit" *ngIf="editable" [routerLink]="[item.id]">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="delete" *ngIf="deletable" (click)="remove(item.id)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-template #notData>
  <h2 class="not-data">
    There are not data yet.
  </h2>
</ng-template>

<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="orange-button"
  rejectButtonStyleClass="grey-button"></p-confirmDialog>