:host {
  .white-background {
    min-height: 90%;
    display: flex;
    flex-direction: column;
  }

  .header-with-buttons {
    flex: 0 0 auto;
  }

  iframe {
    display: block;
    width: 100%;
    flex-grow: 1;
  }
}