<app-datatable 
  [cols]="tableHeaders" 
  [data]="paymentsList" 
  [deletable]="true" 
  [editable]="true" 
  [total]="total"
  (delete)="delete($event)"></app-datatable>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
