<app-admin-settings *ngIf="user.role === 'admin' || user.role === 'manager'"></app-admin-settings>
<app-profile-settings *ngIf="user.role === 'customer'"></app-profile-settings>

<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="orange-button"
  rejectButtonStyleClass="grey-button"></p-confirmDialog>